<h4>Магазин</h4>
<hr>
<h6><strong>Применяемые технологии:</strong></h6>
<p>Программная платформа <strong>NodeJS</strong></p>
<p>Фреймворк web-приложений для NodeJS <strong>Express.js</strong></p>
<p>Движок представлений(шаблонов) <strong>express-handlebars</strong></p>
<p>Генератор уникальных идентификаторов id <strong>uuid</strong></p>
<p>CSS фреймворк <strong>Materialize</strong></p>
<hr>
<p>Во вкладке "Курсы" отображаются все доступные курсы. <br>При нажатии на поле "Открыть курс" открывается на новой
    вкладке страница с описанием курса. <br>При нажатии на поле "Редактировать" можно внести изменения в данный
    курс(название, цена, логотип). <br>При нажатии на кнопку "Купить" выбранный курс попадает в корзину.</p>
<hr>
<p>Во вкладке "Добавить курс" можно добавить новый курс, введя название, цену, URL логотипа(картинки)</p>
<hr>
<p>Все данные хранятся в базе данных <strong>MongoDB</strong> </p>